<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    
	<settings>  
    <setting name="cacheEnabled" value="true" />  
    <setting name="lazyLoadingEnabled" value="true" />  
    <setting name="multipleResultSetsEnabled" value="true" />  
    <setting name="useColumnLabel" value="true" />  
    <setting name="useGeneratedKeys" value="false" />
    <setting name="defaultExecutorType" value="SIMPLE" />  
    </settings>

	<typeAliases>
		<!-- 声明mybatis实列   相关实例-->
		<typeAlias alias="User" type="com.cn.riwise.general.pojo.User" />
		<typeAlias alias="RiwiseMessageObj" type="com.cn.riwise.general.pojo.RiwiseMessageObj" />
        <typeAlias alias="Sms" type="com.cn.riwise.general.pojo.Sms" />
	    <typeAlias alias="LocationObj" type="com.cn.riwise.general.pojo.LocationObj" />
		
		
	</typeAliases>
	<!-- <mappers>
        	mybatis映射文件
		<mapper resource="META-INF/mybatis/mapper/member/MemberMapper.xml"/>
	</mappers> -->
</configuration>